.arrow,
.minus {
  position: absolute;
  right: 10px;
}
.arrow.active {
  display: none;
}
.minus {
  display: none;
}
.minus.active {
  display: block;
}
.MuiAccordionDetails-root {
  padding-top: 0 !important;
  font-size: 20px !important;
}
.question-styles {
  font-size: 22px !important;
  font-weight: 700 !important;
}

.accordion-wrpper {
  width: 1110px;
  font-family: "Montserrat", sans-serif !important;
  margin: 0 auto;
}
.faq-component h1 {
  text-transform: capitalize;
  color: white;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
    #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  margin-bottom: 50px;
  /* font-weight: 500; */
}
.faq-component {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  padding: 50px 0;
}
.MuiTypography-root {
  font-weight: 600 !important;
  /* color: #223d83; */
  font-family: "Montserrat", sans-serif !important;
}
@media screen and (max-width: 1200px) {
  .accordion-wrpper {
    width: 930px;
  }
}
@media screen and (max-width: 990px) {
  .accordion-wrpper {
    width: 690px;
  }
}
@media screen and (max-width: 768px) {
  .accordion-wrpper {
    width: 510px;
  }
}
@media screen and (max-width: 576px) {
  .accordion-wrpper {
    width: 90%;
  }
}
