.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
  margin-top: 130px;
  background-color: black;
}
.footer-logo {
  width: 95px;
  height: 95px;
  margin: 0 auto;
}
.footer-ext-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-ext-link svg {
  width: 45px !important;
  height: 45px !important;
}
.footer-ext-link img {
  /* margin: 10px; */
}
.footer-nav {
  margin: 10px 0;
}
.footer-ext-link svg {
  width: 35px;
  height: 35px;
}
.footer-ext-link a {
  margin: 5px;
}
.footer-nav a {
  color: white;
  margin: 10px;
  cursor: pointer;
}
.footer p {
  color: gray;
  margin: 0;
}
@media screen and (max-width: 576px) {
  .footer-nav {
    flex-direction: column !important;
    display: flex;
  }
}
